<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="enosiX.App.Framework.Mobile" version="0.2.80-beta" targetFramework="xamarinios10" />
  <package id="enosiX.Framework.Online" version="2.4.30" targetFramework="xamarinios1" />
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="xamarinios1" />
  <package id="Xamarin.TestCloud.Agent" version="0.16.2" targetFramework="xamarinios10" />
</packages>