<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="enosiX.App.Framework.Mobile" version="0.2.80-beta" targetFramework="net45" />
  <package id="enosiX.App.Framework.Mobile.UITest" version="0.2.80-beta" targetFramework="net45" />
  <package id="enosiX.Framework.Online" version="2.4.30" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="net45" />
  <package id="Xamarin.UITest" version="1.0.0" targetFramework="net45" />
</packages>